.divLogin{
	margin-top: 10%;
	margin-left: 30% !important;
}

.cardLogin{
	padding-top: 5%;
	padding-bottom: 10%;
	padding-left: 3%;
	padding-right: 3%;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.8);
}

.inputLogin{
	width: 65%;
	margin-left: 20%;
}

#frase {
	margin-left: 20%; 
}

#iconeLogin {
	margin-left: 45%; 
	color: #2bbbad;
}

/*COR DO PLACEHOLDER*/
::-webkit-input-placeholder{
	color: #000;
}

#criarConta{
	font-size: 14pt;
	color: #311b92;
	margin-left: 40%;
}

/* <START> INPUT DE CADASTRO*/
.inputsCadastro{
	background-color: transparent !important;
     border: 1px solid !important; 
    /* border-bottom: 1px solid #9e9e9e; */
    border-radius: 0 !important;
    outline: none !important;
    /*height: 3rem;*/
    width: 100% !important;
    font-size: 16px !important;
    /*margin: 0 0 8px 0;*/
    padding: 0 !important;
}

.input-field-cadastro{
	margin: 0px !important;
	padding: 0px !important;
	font-size: 20pt !important;
}

.inputsCadastro:focus{
	-webkit-transition: background 1s, border-radius 1s;
    transition: background 1s, border-radius 1s;
	border: 1px solid !important;
	border-radius: 5px !important;
	background-color: rgba(43,187,173,.1) !important;
}

.labelCadastro{
	font-size: 14pt;
}

/* <END>*/

span{
	display: none;
}
